- title "Edit Treatment Area"

= header do
  %h1 Edit Treatment Area

= form_for @treatment_area, :method => :put, :url => admin_treatment_area_path(@treatment_area) do |f|
  = render :partial => "form", :locals => {:f => f}
