- title 'Maintenance'

= header do
  %h1 Maintenance

%p
  = link_to 'Reset Clinic DB', admin_maintenance_reset_path,
    :class   => "warning",
    :confirm => "WARNING: This will destroy all patient information! Are you sure you want to proceed?",
    :method  => :post