.DS_Store
log/*.log
tmp/**/*
tmp/*
.sass-cache
doc/api
doc/app
db/*.sqlite3
.svn
vendor/plugins/haml/init.rb
config/mom.yml
.rvmrc
config/database.yml
config/initializers/secret_token.rb
.bundle
vendor/ruby/*

# CSV Import Files
/zipcode.csv
/procedures.csv
