= form_tag change_treatment_areas_path, :id => "change_form" do
  = select_tag "treatment_area_id",
    options_for_select([["Change Treatment Area", nil]] + @treatment_areas.map {|t| [t.name, t.id] },
    :include_blank => true),
    :class => "change_treatment_area"

:javascript
  $('#change_form select.change_treatment_area').change(function(e){
    $(this).parent().submit();
  });
