<% title "Edit Treatment Area" %>

<% header do %>
<h1>Edit Treatment Area</h1>
<% end %>

<% form_for @treatment_area, :method => :put do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>