- title "Check out"

= header do
  %h1 Check out

%h3 Please select your primary treatment area:

%div{:style => "text-align:center;"}
  - @treatment_areas.each do |area|
    %div.checkout_selection
      = link_to area.name, treatment_area_patients_path(area.id)
