body { background-color: #788694; color: #333;
padding: 0px;
	margin: 0;
}

body.admin{
	background-color: #c12317; color: black; 
}

body.logged_out{
		background-color: #588f00; color: black; 
}

html, body {
height: 100%;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
}

#outer_container{
		background-image: url(../images/background.png);
			margin: 0 auto;
			padding: 0 0px 0px;
				width: 1000px;
min-height: 100%
}

#container{
	width: 950px;
	margin: 0 auto;
	padding-top: 10px;
}

#top_navigation{
	color: white;
	margin-right: 20px;
	text-align: right;
}

#top_navigation a, #top_navigation a:visited{
	color: white;
	text-decoration: underline;
} 

#top_navigation a:hover{
	color: silver;
	text-decoration: underline;
} 

#top_left{
	color: white;
	float: left;
	display: inline-block;
	margin-left: 20px;
}

#top_left a, #top_left a:visited{
	color: white;
	text-decoration: none;
}

#top_left a:hover{
	text-decoration: underline;
} 

#contents{
	background-color: #fff;
	margin-top: 10px;
	border: 1px solid #000;
	padding: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

#contents.login{
	width: 300px;
	border: 5px solid #788694;
	margin: 50px auto 0;
}

div.header{
	background-color: #edf3fe;
	margin: -20px -20px 20px;
	border-bottom-style: groove;
	padding: 8px 17px 10px 20px;
}

#footer{
	color: #e6e6e6;
	font-size: 10px;
	float: right;
	text-align: right;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 5px;
}

#controls form{
	display: inline-block;
}

#report_date{
	display: none;
}

#footer a, a:visited, a:hover{
	color: #e6e6e6;
}

#footer-version{
	margin-right: 20px;
	margin-left: 20px;
	color: #e6e6e6;
	font-size: 10px;
	width: 600px;
	margin-top: 5px;
}

a.general, a.warning, a.back{
	padding: 5px;
}

a.general:hover{
	background-color: #588f00;
	text-decoration: none;
	color: white;
}

a.warning:hover{
	background-color: red;
	text-decoration: none;
	color: white;
}

a.back:hover{
	text-decoration: none;
	color: white;
	background-color: #4b7399;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

table, tr, th, td{
	border: 1px solid gray;
	border-collapse: collapse;
}

th{
	color: white;
	background-color: #4b7399;
}

#contents td, th {
  padding: 2px 6px;
}

table.hidden{
	border-style: none;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: inline-block;
	color: white;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

th,td{
	padding: 5px;
}

th a, th a:visited{
	color: #000;
	text-decoration: underline;
} 

th a:hover{
	color: silver;
	text-decoration: underline;
} 

tr.even{
	background-color: #fff;
	border: 1px solid black;
}

tr.odd{
	background-color: #f1f5fa;
	border: 1px solid black;
}

img.side_image{
	border-style: none;
	vertical-align: middle;
}

img.right{
	float: right;
}

img.table_image{
	display: block;
    margin-left: auto;
    margin-right: auto
}

form.new_patient  label, form.new_patient_procedure label{
	width: 250px;
	white-space: pre;
} 	

div.input-left{
	float: left;
	border-right: 1px solid gray;
	padding-right: 15px;
}

div.input-right{
	display: inline-block;
	margin-left: 15px;
}

div.input{
	/*margin-left: 25px;*/
}

div.input-top{
	margin-top: -10px;
	margin-bottom: 20px;
}

div.input-bottom{
	clear: left;
	padding-top: 10px;
}

div.row {
  clear: both;
  padding-top: 10px;
  }

form.new_patient div.row span.label{
	  float: left;
  width: 100px;
  text-align: right;
}

form.new_patient div.input-right div.row span.label{
	  float: left;
  width: 150px;
  text-align: right;
}

div.row span.label {
  float: left;
  width: 100px;
  text-align: right;
  }

div.row span.formw {
  /*float: right;*/
  text-align: left;
	margin-left: 20px;
} 

div.row span.formexample{
	font-size: x-small;
	font-style: italic;
	margin-left: 10px;
}

span.procedure{
	width: 250px;
	display: inline-block;
}

form.button-to{
	display: inline-block;
}

div.about img{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	padding-left: 20px;
	float: left;
}

/*Table Styles*/
#hor-minimalist-b{
	border: none;	font-size: 12px;	background: #fff;	border-collapse: collapse;	text-align: left;
	margin-bottom: 20px;}

#hor-minimalist-b tr{
  border: none;
}#hor-minimalist-b th{	font-size: 14px;	font-weight: normal;	color: #000;	padding: 10px 8px;
	border: none;	border-bottom: 2px solid #788694;
	background-color: #fff;}#hor-minimalist-b td{	border: none;
	border-bottom: 1px solid #ccc;
	color: #669;	padding: 6px 8px;}#hor-minimalist-b tbody tr:hover td{
	color: #35526e;}

a.add{
padding: 10px;
	text-decoration: none;
}

a.add:hover{
	color: #fffefe;
	background-color: #0033CC;
}

div.procedure{	font-size:14px;	margin-bottom:6px;	margin-top:6px;	padding:4px;	width:375px;
	color: #535353;
}

div.procedure.odd{
	background-color: #f1f5fa;
}

div.procedure:hover{
	color: #fffefe;
	background-color: #0033CC;
}

form dt {   clear:both;   width:33%;   float:left;   text-align: left;}form dd {   float:left;   width:66%;   margin: 0 0 1em 0.25em;}

div .check_out{
	text-align:right; 
	padding-bottom: 6px; 
	padding-right: 6px; 
	border-top: 1px solid gray;
}