body { background-color: #788694; color: #333;
padding: 0px;
	margin: 0;
}

body.admin{
	background-color: #c12317; color: black; 
}

body.logged_out{
		background-color: #588f00; color: black; 
}

html, body {
height: 100%;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
}

#outer_container{
		background-image: url(../images/background.png);
			margin: 0 auto;
			padding: 0 0px 0px;
				width: 1000px;
min-height: 100%
}

#container{
	width: 950px;
	margin: 0 auto;
	padding-top: 10px;
}

#top_navigation{
	color: white;
	margin-right: 20px;
	text-align: right;
}

#top_navigation a, #top_navigation a:visited{
	color: white;
	text-decoration: underline;
} 

#top_navigation a:hover{
	color: silver;
	text-decoration: underline;
} 

#top_left{
	color: white;
	float: left;
	display: inline-block;
	margin-left: 20px;
}

#top_left a, #top_left a:visited{
	color: white;
	text-decoration: none;
}

#top_left a:hover{
	text-decoration: underline;
} 

#contents{
	background-color: #fff;
	margin-top: 10px;
	border: 1px solid #000;
	padding: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

#contents.login{
	width: 300px;
	border: 5px solid #788694;
	margin: 50px auto 0;
}

div.header{
	background-color: #edf3fe;
	margin: -20px -20px 20px;
	border-bottom-style: groove;
	padding: 8px 17px 10px 20px;
}

#footer{
	color: #e6e6e6;
	font-size: 10px;
	float: right;
	text-align: right;
	margin-right: 20px;
	margin-left: 20px;
	margin-top: 5px;
}

#controls form{
	display: inline-block;
}

#report_date{
	display: none;
}

#footer a, a:visited, a:hover{
	color: #e6e6e6;
}

#footer-version{
	margin-right: 20px;
	margin-left: 20px;
	color: #e6e6e6;
	font-size: 10px;
	width: 600px;
	margin-top: 5px;
}

a.general, a.warning, a.back{
	padding: 5px;
}

a.general:hover{
	background-color: #588f00;
	text-decoration: none;
	color: white;
}

a.warning:hover{
	background-color: red;
	text-decoration: none;
	color: white;
}

a.back:hover{
	text-decoration: none;
	color: white;
	background-color: #4b7399;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

table, tr, th, td{
	border: 1px solid gray;
	border-collapse: collapse;
}

#contents td, th {
  padding: 2px 6px;
}

table.hidden{
	border-style: none;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: inline-block;
	color: white;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

th,td{
	padding: 5px;
}

th a, th a:visited{
	color: #000;
	text-decoration: underline;
} 

th a:hover{
	color: silver;
	text-decoration: underline;
} 

tr.even{
	background-color: #fff;
	border: 1px solid black;
}

tr.odd{
	background-color: #f1f5fa;
	border: 1px solid black;
}

img.table_image{
	display: block;
    margin-left: auto;
    margin-right: auto
}

form.new_patient  label, form.new_patient_procedure label{
	width: 250px;
	white-space: pre;
} 	

div.input-left{
	float: left;
	border-right: 1px solid gray;
	padding-right: 15px;
}

div.input-right{
	display: inline-block;
	margin-left: 15px;
}

div.input{
	/*margin-left: 25px;*/
}

div.input-bottom{
	clear: left;
	padding-top: 10px;
}

div.row {
  clear: both;
  padding-top: 10px;
  }

form.new_patient div.row span.label{
	  float: left;
  width: 100px;
  text-align: right;
}

form.new_patient div.input-right div.row span.label{
	  float: left;
  width: 150px;
  text-align: right;
}

div.row span.label {
  float: left;
  width: 100px;
  text-align: right;
  }

div.row span.formw {
  /*float: right;*/
  text-align: left;
	margin-left: 20px;
} 

div.row span.formexample{
	font-size: x-small;
	font-style: italic;
	margin-left: 10px;
}

span.procedure{
	width: 250px;
	display: inline-block;
}

form.button-to{
	display: inline-block;
}
/* the overlayed element */ 
.simple_overlay { 
     
    /* must be initially hidden */ 
    display:none; 
     
    /* place overlay on top of other elements */ 
    z-index:10000; 
     
    /* styling */ 
    background-color:#333; 
     
    width:675px;     
    min-height:200px; 
    /*border:3px solid #666;*/ 
    
     
    /* CSS3 styling for latest browsers */ 
    -moz-box-shadow:0 0 90px 5px #000; 
    -webkit-box-shadow: 0 0 90px #000;

	color: #dcdbdd;
	padding: 10px 20px 20px;
} 

.simple_overlay img{
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	float: left;
}

.simple_overlay h1{
	color: #fff;
	clear: both;
}
 
/* close button positioned on upper right corner */ 
.simple_overlay .close { 
    background-image:url(../images/overlay/apple-close.png); 
    position:absolute; 
    right:-10px; 
    top:-10px; 
    cursor:pointer; 
    height:28px; 
    width:28px; 
}
