<div id="top_navigation">
  <% if logged_in? %>
      <%= link_to current_user.name, current_user.start_path, :style => "text-decoration:none;" %> | 
      <%= link_to 'Log out', logout_path %>
    <% else %>
      Not Logged In | 
      <%= link_to 'Log in', login_path %>
    <% end %>
</div>