<div id="top_navigation">
  <% if logged_in? %>
      <%= current_user.name %> | 
      <%= link_to 'Log out', logout_path %>
    <% else %>
      Not Logged In | 
      <%= link_to 'Log in', login_path %>
    <% end %>
</div>