- title 'Assignment Desk'

= header do
  %h1 Assignment Desk

- @patients_table.controls do |patient|
  = link_to "Assign", edit_assignment_desk_path(patient),
    class: 'primary'

= render "patients/patients"