#printer-dropdown.dropdown
  %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
    %i.fa.fa-print
  %ul.dropdown-menu
    %li{class: ('selected' if session[:printer] == 'local')}
      = link_to 'Local Printer', printer_path(printer: 'local'), method: 'post',
        remote: true
    - PrintChart.printers.each do |printer|
      %li{class: ('selected' if printer == session[:printer])}
        = link_to printer, printer_path(printer: printer), method: 'post',
          remote: true
