<% title "New Treatment Area" %>

<% header do %>
<h1>New Treatment Area</h1>
<% end %>

<% form_for @treatement_area do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<%= link_to 'Cancel', treatement_areas_path %>