<p>
  <span style="padding-left: 17px;"><%= link_to image_tag("CheckOut.png",
                :align => "absmiddle",
                :border => 0) , patients_path %></span><%= link_to 'Check Out', patients_path, :class => 'main' %>
</p>