<p>

<span style="padding-right: 10px;"><%= link_to image_tag("xray.png",
              :align => "absmiddle",
              :border => 0) , patients_path %></span><%= link_to 'Find patients for Dexis export', patients_path, :class => 'main' %>