<% title 'Home' %>

<% header do %>
<h1><%= image_tag "logo_small.png" %> CT Mission of Mercy 2010</h1>
<% end %>

<% if logged_in? %>
  <%= if current_user.login == 'admin'
        render :partial => 'admin_index'
      elsif current_user.login == 'user'
        render :partial => 'user_index'
      elsif current_user.login.include? 'xray'
        render :partial => 'xray_index'
      end
  %>
<% else %>
  <h3><%= link_to 'Click here to log in', login_path, :class => 'back' %></h3>
<% end %>
