#procedures
  form.button_to
    display: inline-block

  .input-left
    width: 450px

    input[type=radio]
      vertical-align: top
    label
      display: inline-block
      white-space: pre-line


  // Dialogs & Optional Fields

  #no_procedure,
  #incomplete_procedure,
  img.spinner
    display: none
