#top_navigation
  color: #fff
  margin-right: 20px
  margin-left: 20px
  padding-bottom: 3px
  text-align: right

  a.user-name
    text-decoration: none

  .warnings
    margin-right: 5px
    display: inline-block

  a, a:visited, a:hover
    color: #fff
    text-decoration: underline

  .dropdown
    display: inline-block
    margin-right: 5px
    li
      &.selected a
        padding-left: 20px
        font-weight: bold
        &:before
          content: '✔︎ '
      a
        padding-left: 38px
        text-align: left
        color: #333
        text-decoration: none
        &:hover
          color: #fff
  form
    display: inline-block

  span.left
    float: left
  span#help_loading
    display: none
    img
      padding-right: 5px
