- title 'Check-in Previous Patient'

- @patients_table.controls do |patient|
  = link_to "Check-in",
    new_patient_path(patient: {previous_chart_number: patient}),
    class: 'primary'

= render "nav"

= header do
  %h1 Check-in Previous Patient

= render "patients"

