- title 'Reprint Chart'

- @patients_table.controls do |patient|
  = link_to patient.chart_printed ? "Reprint" : "Print",
    chart_patient_path(patient),
    class: 'primary', data: { chart_number: patient.id }

:coffeescript
  $(document).on 'click', 'a[href$="/chart"]', (e) ->
    e.preventDefault()
    button = $(e.target)
    mom.utilities.printChart($(this).data('chart-number')).done (data) ->
      button.text("Printing ...").attr('disabled', 'disabled')

= render "nav"

= header do
  %h1 Reprint Chart

= render "patients"
