- title 'Reprint Chart'

- @patients_table.controls do |patient|
  = link_to patient.chart_printed ? "Reprint" : "Print",
    chart_patient_path(patient),
    class: 'primary', target: '_blank'

= render "nav"

= header do
  %h1 Reprint Chart

= render "patients"
