%tr{class: cycle('even', 'odd')}
  %td
    = assignment.treatment_area.name
  %td
    = assignment.created_at.strftime('%I:%M %p')
  %td
    = assignment.checked_out_at.strftime('%I:%M %p') if assignment.checked_out_at
