%tr{:class=> cycle('even', 'odd')}
  %td
    = ClinicArea[flow.area_id].to_s.humanize
    - if flow.treatment_area
      \- #{flow.treatment_area.name}
  %td
    = flow.created_at.strftime('%I:%M %p')
