- @requests.each do |request|
  %div
    %h1= request.station_description

- if @requests.length > 0
  :plain
    <embed id='alert' src='/mp3/alert.mp3' autostart='true' loop='false' width='100%' height='20px'></embed>
- else
  %h2 No Support Requests

