<p>
  <b>Procedure:</b>
  <%=h @procedure_surface_code.procedure_id %>
</p>

<p>
  <b>Surface code:</b>
  <%=h @procedure_surface_code.surface_code %>
</p>


<%= link_to 'Edit', edit_procedure_surface_code_path(@procedure_surface_code) %> |
<%= link_to 'Back', procedure_surface_codes_path %>
