body{
	font: 9pt verdana, arial, helvetica, sans-serif;
}

a, #controls, #top_navigation, #footer, #footer-version{
	display: none;
}

div.header img, div.header h1 {
  display: inline-block;
  vertical-align: middle;
}

div.header img{
  margin-right: 10px;
}

table {
border: 1px solid #666666;
width:100%;
border-collapse: collapse;
}

td { border: 1px solid #666666;}
th { border: 1px solid #666666;	padding: 5px; }
td.integer{ text-align: center;}

dd { border: 1px solid #666666; }

ul#tabnav {
  display: none;
}