ul#tabnav {
  text-align: left;
  margin: 0 20px;
  margin-top: 20px;
  margin-bottom: -8px;
  list-style-type: none;
  padding: 0;
}
 
ul#tabnav li {
  display: inline;
}
 
ul#tabnav li.current a {
  background-color: #EDF3FE;
  color: #000;
  position: relative;
  top: 1px;
  padding-top: 5px;
}
 
ul#tabnav li a {
  padding: 4px 8px; 
  border: 1px solid #000; 
  background-color: #DDE3EC; 
  color: #666; 
  margin-right: 0px; 
  text-decoration: none;
  border-bottom: none;
}
 
ul#tabnav a:hover {
  background: #fff; 
}