<% title 'Reports' %>

<% header do %>
  <h1><%= image_tag "logo_small.png" %> Reports</h1>
<% end %>

<p>
<%= link_to 'Clinic Summary Report', clinic_summary_report_path, :class => "general" %>
</p>
<p>
  <%= link_to "Treatment Area Distribution Report", treatment_area_distribution_report_path, :class => "general" %>
</p>
<hr>
<p>
  <%= link_to "Post Clinic Report", post_clinic_report_path, :class => "general" %>
</p>

<p>
<%= link_to 'Back', home_path, :class => "back" %>
</p>