<% title 'Reports' %>

<% header do %>
  <h1><%= image_tag "logo_small.png" %> Reports</h1>
<% end %>

<p>
<%= link_to 'Clinic Summary Report', clinic_summary_report_path, :class => "general" %>
</p>

<%= link_to 'Back', home_path, :class => "back" %>