<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

  <title><%= "Mission of Mercy | " + (yield(:title) || "Mission of Mercy") %> </title>

  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <%= stylesheet_link_tag "html", "layout" %>

<body>

<!-- #content: holds all except site footer - causes footer to stick to bottom -->
<div id="content">

  <!-- #header: holds the logo and top links -->   
  <div id="header" class="width">
  
  <!-- <img src="images/logo.png"/> -->
  
    <ul>
      <li><a href="" class="last">Login</a></li>
    </ul>

  </div>
  <!-- #header end -->


  <!-- #headerImg: holds the main header image or flash -->
  <div id="headerImg" class="width"></div>



  <!--
  #menu: the main large box site menu
  <div id="menu" class="width">

    <ul>
      <li>
        <a href="onecol.html" onfocus="blur()">
          <span class="title ">One Column Layout</span>
          <span class="desc">View the included layout</span>        </a>      </li>
      <li>
        <a href="twocol_a.html" class="forum" onfocus="blur()">
          <span class="title ">Two Column Layout A</span>
          <span class="desc style3">View the included layout</span>        </a>      </li>
      <li>
        <a href="twocol_b.html" onfocus="blur()">
          <span class="title ">Two Column Layout B</span>
          <span class="desc">View the included layout</span>
        </a>
      </li>
      <li>
        <a href="contact.html" onfocus="blur()">
          <span class="title ">Contact Us Layout</span>
          <span class="desc">View the included layout</span>
        </a>
      </li>
    </ul>

  </div>
-->


  <!-- #page: holds the page content -->
  <div id="page">	
    
    <!-- #columns: holds the columns of the page -->
    <div id="columns" class="widthPad">


    <!-- Single column -->
    <div class="floatLeft width100">
      
      
      <%= yield %>
      
      
    </div>
    
    </div>
    
    
  </div>
  <!-- #page end -->

</div>
<!-- #content end -->




<!-- #footer: holds the site footer (logo and links) -->
<div id="footer">

  <!-- #bg: applies the site width and footer background -->
  <div id="bg" class="width">
  
  <!-- <img src="images/logo.png" alt="Your logo goes here"/> -->
  
    <ul>
      <li>Version 1.1</li>
      <li ><a href="http://www.ducksoupsoftware.com" >Duck Soup Software</a></li>
      <li class="last"><a href="http://www.integrityss.com" >Integrity Systems & Solutions</a></li>
	</ul>

  </div>
  <!-- #bg end -->

</div>
<!-- #footer end -->

</body>

</html>