<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Mission of Mercy - Log in</title>
  <%= stylesheet_link_tag "default" %>
  <%= javascript_include_tag :defaults %>
</head>
<body onLoad="$('login').focus();">
  <div id='outer_container'>
    <div id='container'>
      <div id="contents" class='login'>
        <%= yield  %>
      </div>
    </div>
  </div>
</body>
</html>