!!! Strict
%html
  %head
    %title Mission of Mercy - Log in

    = javascript_include_tag :defaults
    = stylesheet_link_tag 'default', :media => :screen

    :javascript
      Event.observe(window, 'load', function() {
        $('login').focus();
      });

  %body{:class => body_css}
    #outer_container
      #container
        #contents.login
          = render :partial => "shared/flash", :locals => { :flash => flash }
          = yield
