!!! Strict
%html
  %head
    %title Mission of Mercy - Status

    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'

    :javascript
      MoM.init('#{form_authenticity_token}');

      MoM.Support.Enabled = false;

      MoM.Support.startStatusPolling();

  %body{:style => "height: 0;"}
    #status_container= yield
